@import 'tailwindcss';

@utility container {
  margin-inline: auto;
  padding-inline: 0.5rem;
}
@media (min-width: 640px) {
  .container {
    padding-inline: 1rem;
  }
}

.input {
  @apply rounded-md border-2 border-verde-800 bg-verde-800 p-2 text-white 
  focus:outline-none focus:ring-2 focus:ring-verde-400 focus:border-verde-900 
  placeholder:text-verde-900;
}

@theme {
  --color-verde-200: #acef75;
  --color-verde-300: #91ee77;
  --color-verde-400: #6fbf94;
  --color-verde-500: #3f8f6b;
  --color-verde-600: #2f6e52;
  --color-verde-700: #2e482c;
  --color-verde-800: #16281f;
  --color-verde-900: #0f1c15;
  --color-verde-950: #030504;
}
